apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-app
spec:
  selector:
    matchLabels:
      app: user-app
  replicas: 2
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: user-app
    spec:
      serviceAccountName: allow-read-jobs
      initContainers:
        - image: groundnuty/k8s-wait-for:v1.5.1
          name: user-app-init
          args:
            - "job-wr"
            - "migration-v1-job"
      containers:
        - image: nailkabirov/arch-hw2:v0.0.2
          name: user-app
          env:
            - name: SERVICE_PORT
              value: "8000"
          envFrom:
            - configMapRef:
                name: user-db-env-configmap
            - secretRef:
                name: user-db-env-secret
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /ready
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20